[2011-09-05 19:14] slashmili opened #1 "jalali date javascript widget"
create widget for jalali date filed

[2013-08-14 13:05] ali-hallaji opened #2 "jdate jquery"
سلام
من به یک ویدجت نیاز دارم که وقتی رو فیلد تاریخ کلیک کردم باز شه!
چندتا گرفتم اما نشد و همینطور برنامه شما هم با جنگو 1.5 مشکل داره.
ممنون میشم که کمکم کنید.

[2013-08-14 15:01] #2 closed, assigned to nobody

[2014-03-10 09:09] smdalili opened #3 "global name 'ValidationError' is not defined"
i think you forget to import ValidationError from django.core.exceptions

i fix it by adding this line to the first of dist-packages/django_jalali-0.9-py2.7.egg/django_jalali/forms/__init__.py:
from django.core.exceptions import ValidationError

[2014-05-13 21:03] aliorouji opened #4 "Newer python and django versions"
No plan for newer django versions?

[2014-09-02 08:19] imirzadeh opened #5 "issue with new django versions"
we are using django 1.6 and  we got this error :

No module named settings
Request Method: GET
Request URL:    http://localhost:8000/admin
Django Version: 1.6.5
Exception Type: ImportError
Exception Value:
No module named settings
Exception Location: /usr/local/lib/python2.7/dist-packages/django_jalali/admin/widgets.py in <module>, line 7
Python Executable:  /usr/bin/python
Python Version: 2.7.3

[2014-11-09 04:06] #5 closed, assigned to nobody

[2014-11-09 04:07] #4 closed, assigned to nobody

[2014-12-03 09:01] amandegar opened #8 "South and schemamigration problem"
I have got error from south at schemamigration.
- Command:
  python manage.py schemamigration <APP> --auto
- Result:
  ! Cannot freeze field 'testApp.base.expire'
  ! (this field has class django_jalali.db.models.jDateTimeField)

  ! South cannot introspect some fields; this is probably because they are custom
  ! fields. If they worked in 0.6 or below, this is because we have removed the
  ! mode

[2014-12-03 11:38] amandegar opened #9 "Admin datepicker problem"
In admin
when i use jdatetime and datetime together Jalali datepicker works but Gregorian datepicker has problem and not work properly.

[2014-12-03 12:14] amandegar opened #10 "Feature: integrate with django"
It is not an issue. Feature request:
I have an idea to integrate this module with django to integrate Apps seamless with jalali calendar system.
I am not sure but i would like to share my idea with you.

Define flag in setting to choose calendar system. JALALI_CALENDAR_SYSTEM = True
Check if this flag is true:
1) substitute Date and DateTime field with jDate and jDateTime
2) forward datetime call

[2014-12-07 10:13] #9 closed, assigned to nobody

[2015-05-19 23:24] shivalashkari opened #11 "don't accept /2/30"
I do all steps, but when i want to add 30th of second month, i have a valid error, (becouse second months doesn't accenp 30)
i add filterspecs.py todjango 1.7, becouse it doesn't work without this file, but it doesn't work.

[2015-05-20 03:07] alex-mercer commented on #11
Are you using the PyPi version of django_jalali?
If so please uninstall django_jalali : `pip uninstall django_jalali`
And try the github version: `pip install https://github.com/slashmili/django-jalali/archive/master.zip`

[2015-05-20 15:25] shivalashkari commented on #11
Yes
I use this version, djngo1.5 don't support "filterspecs" when i add this lines to admin

import django_jalali.admin.filterspecs #you need to import this for adding filter in admin interface
import django_jalali.admin as jadmin #you need import this for adding jalali calander widget

i get error that means i don't have django.filterspecsi , i add filterspecs.py from django1.3 to django 1.5, the

[2015-05-30 00:19] pajooh opened #12 "usage question"
is there any way to use this package without changing the model's object manager? (i.e. ```objects = jmodels.jManager()```)

[2015-05-30 11:11] pajooh opened #13 "python 3.4 support"
trying to ```pip install https://github.com/slashmili/django-jalali/archive/master.zip```, i get:
[code]

[2015-05-30 11:23] slashmili commented on #13
It should be fixed. try again

[2015-05-30 11:30] pajooh commented on #13
Nope, the error is here yet
anyway, thank you for your fast consideration!!!

[2015-05-30 11:40] slashmili commented on #13
try this:

pip install https://github.com/slashmili/django-jalali/archive/python-3.4-support.zip

[2015-05-30 12:01] pajooh commented on #13
i used ```pip install -e git://github.com/slashmili/django-jalali.git@master#egg=django_jalali``` to get the latest master push, the installation completed, but trying to activate it in my ```INSTALLED_APP``, i get:
[code]
as you can see, the ```except ValueError, e``` syntax is not valid in python 3 at all
how about simply running ```2to3``` tool to change all this kind of incompatible code?

[2015-06-01 19:48] slashmili commented on #13
Please install it from python-3.4-support branch and let me know if it works, then I'll merge it to master

    pip install https://github.com/slashmili/django-jalali/archive/python-3.4-support.zip

[2015-06-15 07:40] amandegar opened #15 "Django 1.8 compatibility"
i just try to use in django 1.8
1) django error on
import django_jalali.admin.filterspecs
from django.contrib.admin.filterspecs import FilterSpec
ImportError: No module named filterspecs

2) by comment line in admin datepicker doesn`t exist any longer ...

[2015-06-15 07:50] amandegar commented on #15
3) python manage.py dumpdata show below error
CommandError: Unable to serialize database: global name 'datetime_safe' is not defined

[2015-07-14 06:57] amandegar commented on #15
Mr professional :)
Please update to django 1.8
it is not working yet
Thanks

[2015-07-15 02:41] slashmili commented on #15
I just tried `python manage.py dumpdata`

[code]

I tried it against sqlite. Can you give more details in which condition it doesn't work?

[2015-07-16 16:21] slashmili commented on #15
FYI https://gist.github.com/imagescape/5491251#filterspecs-replaced

[2015-07-16 16:35] slashmili commented on #12
I would love to do that but when I implemented it I couldn't find any other way.

[2015-07-16 16:35] #12 closed

[2015-07-16 16:36] #3 closed

[2015-07-16 16:36] #1 closed

[2015-07-16 16:37] slashmili opened #16 "adding automated test"
I would like to write test and be able to run it against different version of django

[2015-07-16 17:06] slashmili commented on #15
For FilterSpec, it looks like you should remove it from admin and instead only use list_filter

https://docs.djangoproject.com/en/1.8/ref/contrib/admin/#django.contrib.admin.ModelAdmin.list_filter

[2015-12-30 16:31] zeroleo12345 opened #17 "about freeIBS sourcecode"
excuse me , have u delete the project `https://github.com/slashmili/freeIBS/`?
if not, could u opensource it and i want to fork it.
thank u very much!

[2015-12-31 00:16] slashmili commented on #17
Yes, I deleted it. didn't have time to work on that!

You can export it from it's based project repo in here http://ibs.sourceforge.net/

[2015-12-31 00:16] #17 closed

[2016-01-01 08:43] p3zhman opened #18 "Inline problem with django-jalali"
Hey,

I think it is a js problem, specifically jDateTimeShorts.js problem, where you Return False;

When you have an inline, adding another field ( that contains jDateField ) will retrun False (new version void(0) ) although it should add another Calendar, If you look through the Django DateTimeShortcuts.js you can see in DateTimeShortcuts.js ( django ):
cal_link.setAttribute('href', 'javascript:D

[2016-01-05 20:58] slashmili commented on #18
@alex-mercer could you help him?

[2016-01-17 02:27] slashmili commented on #16
Done!

https://travis-ci.org/slashmili/django-jalali

[2016-01-17 02:27] #16 closed

[2016-01-17 02:29] slashmili commented on #13
It's done, you can get the new version (2.0) and it would work in python 3.4.

We also have test for this project which runs on multiple python/django versions

https://travis-ci.org/slashmili/django-jalali

[2016-01-17 02:29] #13 closed

[2016-01-17 02:31] slashmili commented on #15
You can follow the links that I provided.

After reading all the documents, It would be nice if you come up with a fix :)

[2016-01-17 02:31] #15 closed

[2016-01-20 21:54] slashmili opened #21 "Change the readme to reST"
http://www.sphinx-doc.org/en/stable/rest.html

[2016-02-14 11:34] #21 closed

[2016-02-14 11:37] slashmili commented on #8
I am using Django's migration in [the tests](https://github.com/slashmili/django-jalali/blob/master/jalali_test/foo/migrations/0001_initial.py) works fine.

Not sure about south though

[2016-04-15 16:41] AyoubTorabi opened #24 "give error from django1.9.5"
hi,
When I run the program ,I received with the following message:
**ImportError: No module named 'django.contrib.admin.filterspecs'
**
I think the relevant filterspecs module has been removed in the new version.

[2016-04-16 03:18] slashmili commented on #24
In the [README](https://github.com/slashmili/django-jalali#admin-interface) I already explained

[code]

[2016-04-16 03:18] #24 closed

[2016-04-30 00:44] slashmili commented on #24
FYI I've started to work on the admin filter #27

[2016-06-28 09:45] sjsadeghi opened #28 "didn't show jalali date in date field in windows"
hi, i set django_jalali for app.
datepicker work correct but date field show gregorian date.
on linux work correct but on windows didn't work correct.
and on linux without set locale work correct.
for fix this issue i set locale on two os but get this error `unsupported locale setting` in two os.

[2016-06-29 07:15] sj-sadeghi commented on #28
Hi, i found your project problem.
your project mistake is for `python 3.5` and on `python 2.7` is work correct.

[2016-07-29 09:03] slashmili commented on #28
Hi! Thanks for finding the 🐛  , don't forgot to create a PR to fix it ;)

[2016-08-16 08:28] MHM5000 opened #29 "Django 1.10"
`SubfieldBase` is no longer accessible in Django 1.10+.
Could you fix this?

[2016-08-16 11:31] slashmili commented on #29
Could you fix it and create a PR ? :)

[2016-08-16 11:42] MHM5000 commented on #29
I would, but I have a deadline this week and I don't have the time and I
really need it.

On Tue, 16 Aug 2016, 16:01 Milad, <notifications@github.com> wrote:

[2016-08-17 08:59] slashmili commented on #29
Unfortunately I don't have time to work on it this week

[2016-09-01 06:49] nimaous opened #30 "Attribute Error"
Hi
when I add django_jalali to my installed app I get the following error
AttributeError: 'module' object has no attribute 'SubfieldBase'

[2016-09-06 07:44] slashmili commented on #30
Duplicated #29

Thanks for reporting it

[2016-09-06 07:44] #30 closed

[2016-09-22 10:45] slashmili commented on #29
fixed #31

[2016-09-22 10:45] #29 closed

[2016-11-04 18:14] itmard opened #32 "Model field Does Not work on Django 10.3"
Dude you removed deprecated SubfieldBase in your new update to support Django 10. but you forgot to change to_python to from_db_value
https://docs.djangoproject.com/en/1.10/releases/1.8/#subfieldbase

[2016-11-06 13:26] siaswar opened #34 "render date back to jalali in form"
I do not know how this works or why it is need set language and local while site is in server side. Also I do not know Django very well either.
I save a form with date in Jalali. It saves the date (convert) in Gregorian in db and that is what I am looking for. But when I want to edit that data again, it shows date in Gregorian in form widget. so if I save it again it will be converted to Gregorian

[2016-11-06 17:33] slashmili commented on #34
[Configuration of language](https://docs.djangoproject.com/en/1.10/ref/settings/#std:setting-LANGUAGE_CODE) in the server settings has been part of Django since day the beginning and the Locale setting is only for the text in farsi not for the jalali date

It should work as the example in the readme:

[code]

As you can see, the result is in Jalali date. If it doesn't work for you please give me d

[2016-11-06 17:38] slashmili commented on #32
I suppose your #33 was fix for this?

I don't use this library anymore and it's hard for me to catch up with the changes and tests. If you would like I can grant you access to maintain the package

[2016-11-08 08:31] itmard commented on #32
@slashmili We are using this package on one of our projects. I can help to maintain the package.

[2016-11-08 08:32] itmard commented on #32
This issue is related to #33

[2016-11-08 08:32] #32 closed

[2016-11-08 08:39] slashmili commented on #32
Awesome! I granted access to the repo. What is your `pypi` username?

[2016-11-08 09:00] itmard commented on #32
@slashmili It's itmard

[2016-11-15 09:29] slashmili commented on #34
@itmard do you know how to reproduce it?

[2016-12-08 09:38] am1rb commented on #11
hello, i have the same issue with django 1.10.3 and django-jalali.
when the date is 1396-02-30 or 1396-02-31, the form validation of django-jalali return false and the date is invalid, so there is no field in cleaned_data.
in django shell i can set these dates into the jdate model but i think the problem is form validation step.
note: i used the lastest github jalali-calendar version, also i use a

[2017-01-09 23:51] ShalbafZadeh commented on #8
@slashmili i think we can close this
migrations are part of django core now and not a standalone project

[2017-01-10 09:17] #8 closed

[2017-01-19 05:09] alisanie opened #36 "Unable to serialize database: global name 'datetime_safe' is not defined"
Hi.
I want to use this wonderful package but when I want to retrieve data from database from mysql database I get this message:
[code]
I hope you can help me to fix the problem.

[2017-01-20 08:29] metemaddar opened #37 "Persian numbers"
Thanks for fantastic package,
It would be great if it shows numbers as Persian.
Thanks a lot.

[2017-01-20 08:31] metemaddar opened #38 "Formating don't accept utf8"
I need to show date like this:
سه‌شنبه، ....
But formatting doesn't accept "،" (Persian comma). I think it needs utf-8 encoding.

Thank you very much.

[2017-01-20 18:22] itmard commented on #37
@metemaddar Hey dude I think it's better idea to convert numbers using something like https://github.com/itmard/persian.py

[2017-01-22 06:24] itmard commented on #37
@MrVIII What do you think ?

[2017-01-22 06:24] itmard commented on #38
@metemaddar Please explain this issue more ?

[2017-01-22 06:34] itmard commented on #36
@alisanie Hi,
Fixed now, Please update your package (using Github)  and try again

[2017-01-22 14:27] alisanie commented on #36
Thanks

[2017-01-23 10:18] slashmili commented on #37
Since we need to set the locale to `fa_IR` to see the months in farsi, I believe it makes sense to make sure everything is really shown in `fa_IR` including numbers.

[2017-01-24 08:08] MrVIII commented on #37
I think it's better to define some template filter for different formatting like months as Persian name and some configuration variables (settings) for default date and date-time showing in templates and forms.
@itmard what's your opinion about it?

[2017-01-24 17:06] metemaddar commented on #38
For example,
"{{ post.date_published|jformat:"%A %d %B %Y %H:%M" }}" can produce the output:
"سه‌شنبه 29 بهمن 1395 12:52"
I want to add Persian comma:
"سه‌شنبه، 29 بهمن 1395". This comma is present in utf-8. And when I add it to the format string,
{{ post.date_published|jformat:"%A، %d %B %Y %H:%M" }}
 I get:
'ascii' codec can't encode character u'\u060c' in position 2: ordinal not in range(128)

[2017-02-14 09:54] PouriaN opened #47 "problem with year lookup"
Hi dudes,
I created this field in my model
`createTimeJalali = jmodels.jDateTimeField(auto_now=True)`
and I want to get a query based on year in my view
`news_list = News.objects.filter(createTimeJalali__year=y).order_by('-id')`
but I get this error when I run the project

Unsupported lookup 'year' for jDateTimeField or join on the field not permitted.
what's the problem here?

[2017-02-15 14:45] slashmili commented on #47
Not sure, it works for me:

[code]

Which version of python and Django are you using?

[2017-02-15 14:59] PouriaN commented on #47
[code]

[2017-02-15 22:05] itmard commented on #47
I got this error on Django 1.10.3 and Python 2.7.9
FieldError: Unsupported lookup 'year' for jDateTimeField or join on the field not permitted.

[2017-02-15 22:10] itmard commented on #38
This issue resolved slashmili/python-jalali#29

[2017-02-15 22:10] #38 closed

[2017-02-15 22:16] itmard commented on #37
@slashmili @MrVIII  What we can do if we don't want to change local to fa_IR but we want to see weekdays or month names in farsi somewhere?
 What we can do If we want to have an application with different weekday or month names inside each view (multi language application )

[2017-02-15 22:16] #36 closed

[2017-02-15 22:16] itmard commented on #36
@alisanie Welcome :)

[2017-02-15 22:19] itmard commented on #34
@MrVIII Can you help with this issue ? I couldn't reproduce the issue but I think there is a complexity in form and fields

[2017-02-16 08:57] slashmili commented on #47
Hmmm, I added a test b75dab319460bbe37b6c56299eb9dfdc1332ec5e and it [passed](https://travis-ci.org/slashmili/django-jalali/builds/202167772).

What's different between what you and I do?

[2017-03-15 07:16] roshanar opened #49 "problem with setlocale in last step"
Hi
I do steps untill this step:

`$ LC_ALL=fa_IR python manage.py runserver`

when I run this code, I get it:

`roshana@roshana ~/jalali $  LC_ALL=fa_IR python manage.py runserver
Performing system checks...
System check identified no issues (0 silenced).
March 15, 2017 - 07:05:47
Django version 1.10.6, using settings 'jalali.settings'
Starting development server at http://127.0.0.1:8000/
Quit the

[2017-03-15 08:20] slashmili commented on #49
You probably do not have any  `fa_IR` locale available. Take look at [this answer](http://stackoverflow.com/a/14548156/683247) in stackoverflow

[2017-03-15 08:20] #49 closed

[2017-03-29 04:59] roshanar opened #50 "Problem with using django_jalali"
Hi
when I add django_jalali to my project,just adding!
`
INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.admin',
    'django.contrib.sitemaps',
    'django.contrib.staticfiles',
    'django.contrib.messages',
    'django.contrib.humanize',
    'django.contrib.gis',
    'django_jalali',`

[2017-03-29 09:34] roshanar commented on #50
yes, sure!
Python 2.7.9
Django version 1.6.11
Os :linux debian

[2017-03-29 09:42] slashmili commented on #50
This library only works with [Django 1.7 ](https://github.com/slashmili/django-jalali#dependencies) and above

Sorry about that

[2017-03-29 09:42] #50 closed

[2017-04-28 12:03] sky1048576 opened #51 "'jformat' is not a registered tag library"

[2017-05-06 10:28] masoudian opened #52 "How to set timezone to the jdateTimeField - not the machine time"
django 1.10 and python 2.7
If I define my model field like this:
[code]
when a new Book instance is created with `book = Book.objects.create()`, jdate 's value will be my local machine time (my laptop)!
And I need the time be equal the timezone. I need to calculate the elapsed time. But because of the local time, the elapsed time would be a minus number!!
[code]
I also have the `USE_TZ = True` in

[2017-06-25 15:38] slashmili commented on #52
Hey @masoudian,

I tried it and it didn't work for me as well. not sure where to make the changes though.

Let's see if we can fix it, do you have any suggestion?

[2017-07-19 10:25] pooyamb opened #55 "Error in django admin on settings django's default timezone with pytz"
Hi,
Why I try to set django's default timezone to non UTC timezones, ex. Asia/Tehran, I get an error in django admin changeform,

**Assume this model :**
[code]

**And registering it with default modeladmin :**
[code]

**when I set default timezone in settings.py**
[code]

**Error details:
Trace back :**
[code]

**After tracing the error(in django 1.11) I found out,**
`django_jalali.admin.widgets.

[2017-07-23 10:22] slashmili commented on #55
@pooyamb I'm not doing much of python these days 😞

I would override `AdminSplitjDateTime` decompress method  for now

Since jdatetime is a separate project I rather not to change it because of `django-jalali`

[2017-07-23 13:01] pooyamb commented on #55
I forked this project and made some changes to fix compatibility issues with new django version,
can you check it before I make a pull request? you're more familiar with it.
here is the [link](https://github.com/pooyamb/django-jalali/network)

[2017-08-16 10:00] mrezzamoradi opened #56 ""Enter a valid date." error when selecting shahrivar 31st."
I have a model named  _Semester_  and a form like this:

[code]

[code]

in the admin page, I encounter a **Enter a valid date**_ error message when I choose to set **13xx-06-31** as either _start date_ or _end date_.

I use **django-jalali 2.4.4** and **jdatetime 1.9.0** with **django 1.10.5**.

![image](https://user-images.githubusercontent.com/6003890/29358188-5e4a5ffc-828f-11e7-9f14-d5b68998dd

[2017-08-16 12:19] slashmili commented on #56
@mrezzamoradi check the [example project](https://github.com/slashmili/django-jalali/tree/master/jalali_test)

Looks ok for me

![save time](https://user-images.githubusercontent.com/585764/29362827-c5488366-828d-11e7-8dee-3f55f8fa1a2f.png)

[2017-08-16 14:49] mrezzamoradi commented on #56
Thanks @slashmili. I tried this test on other django versions and the result is the same. I found that it checks the date against Georgian calendar and produces an invalid error message, like this:

![image](https://user-images.githubusercontent.com/6003890/29369276-673c07fa-82b7-11e7-9f01-28cc429df159.png)

[2017-08-16 15:08] mrezzamoradi commented on #56
@slashmili yes I did, here it is:

![image](https://user-images.githubusercontent.com/6003890/29370351-58f27fa0-82ba-11e7-95cf-57fbdb761624.png)

![image](https://user-images.githubusercontent.com/6003890/29370398-77d132b8-82ba-11e7-8d8b-420db4022b84.png)

[2017-08-16 15:11] mrezzamoradi commented on #56
Oh, I updated **django-jalali 2.4.4** to **django-jalali 2.4.5** and the problem is fixed.

Thanks

[2017-08-16 15:11] #56 closed

[2017-08-26 19:21] mmft1359 opened #57 "How to use datepicker in ModelForms"
Hi
when I use django-jalali in my model, in admin panel widgets are OK but in any ModelForm widgets not shown. why?

[2017-08-31 10:35] metemaddar commented on #47
I have a same problem in Django 1.11.4 and Python 3.6.1 for get_object_or_404:
`post = get_object_or_404(Post, publish_time__year=1396)`
error:
**Unsupported lookup 'year' for jDateTimeField or join on the field not permitted.**

Also there is a similar problem in 'unique_for_date' option in fields. For example for a slug:
`slug = models.SlugField(max_length=250, unique_for_date='publish_time')`
Y

[2017-08-31 10:45] metemaddar opened #58 "Problem with timezone"
Django: 1.11.4
Python: 3.6.1

When I set timezone to "Asia/Tehran"
I get the error: **unsupported operand type for <: '<class 'datetime.datetime'>'** When I try to edit object in Djago admin.

Thanks in advance

[2017-08-31 13:23] slashmili commented on #57
@mmft1359 can you upload a screenshot?

[2017-08-31 13:54] slashmili commented on #47
@metemaddar since you can reproduce it, do you have any solution for it?

[2017-08-31 14:01] slashmili commented on #58
@metemaddar is it related to #55 ?

[2017-08-31 14:16] metemaddar commented on #47
I should read it and work on it. I can not answer about it for about a week. I have no internet access for a while. But I like to work on it intensively.
Thanks a lot @slashmili

[2017-09-09 23:10] r4mz3y opened #60 "datepicker widget dosen't show up in admin panel"
Hi there
I just copy and paste the example in reademe.rst file, but the widget for choosing date dosen't
 show up! and it just looke like a CharFiled

![selection_005](https://user-images.githubusercontent.com/22016978/30244813-2a87e77a-95db-11e7-94e8-ab518e9b800e.png)

It suppose to be like this (this is the default django DateFiled)
![selection_004](https://user-images.githubusercontent.com/2201

[2017-09-10 20:00] slashmili commented on #60
Looks like that they have changed the location of calendar icon in Django 1.11 😕

[2017-09-24 18:52] slashmili commented on #60
@r4mz3y can you check the master? #62 should fix the problem.

[2017-11-06 13:24] alinavaie opened #64 "jalali datepicker"
Hi, I use djnagi-jalali with python 3 ,  everything is working well (such as templates) but 2 issues:
1- the datepicker widget is still in Gregorian. So I have to choose the date in Gregorian and then convert it to jalali with template.
2- I got locale.Error when I try to import Farsi locale in setting.py

[2017-11-06 14:09] slashmili commented on #64
@alinavaie which version of django and which version of django-jalali are you using?

for the second issuer, can you past the stack trace?

[2017-11-06 14:17] alinavaie commented on #64
django==1.11.6
django-jalali==2.4.5

[2017-11-14 10:34] slashmili commented on #64
@alinavaie I tried the example code which is [here](https://github.com/slashmili/django-jalali/tree/master/jalali_test)

1. The widget works fine. Try to set the example code up and compare the code with your project
[code]

and visit http://localhost:8000/admin/foo/bartime/

2. Looks like Mac locale system is [broken](https://stackoverflow.com/questions/9991603/add-a-locale-in-mac-osx) for some l

[2017-11-14 10:34] #64 closed

[2017-12-12 13:17] miladazadsanjary opened #65 "No module named django_jalali"
i installed the app , and create the model when i try to makemigrations this error shows to me :
No module named django_jalali

[2017-12-12 13:19] slashmili commented on #65
@miladazadsanjary there is a problem with your setup. Please follow the installation guide.

[2017-12-12 14:35] miladazadsanjary commented on #60
i have same problem

[2017-12-12 14:39] #65 closed

[2017-12-12 14:47] slashmili commented on #60
@miladazadsanjary, I just noticed that the icon is gone missing again in Django 2.0. New version of Django just released 10 days ago :(

Looks like storing data still works but the only problem is the date widget. you can use older version or wait until I can fix the problem in Django 2.0

[2017-12-12 14:50] miladazadsanjary opened #66 "how to show datepicker in forms ?"
hi
i want to use jalali date in forms , what should i replace this code ?
    date = forms.DateField(widget=forms.SelectDateWidget())

[2017-12-12 14:52] miladazadsanjary commented on #60
thank you i will waiting for your change

[2018-01-17 13:58] alirezaafzalaghaei commented on #60
Hey, Any news?

[2018-01-21 09:03] slashmili commented on #60
I just tried it out again and it works!

<img width="614" alt="screen shot 2018-01-21 at 10 02 23" src="https://user-images.githubusercontent.com/585764/35192430-4f688606-fe92-11e7-8f66-707fa4b7c150.png">

Maybe the change some static url path and fixed it in new release

[2018-01-21 09:03] #60 closed

[2018-01-22 07:47] slashmili commented on #66
@miladazadsanjary Hey,

The datepicker that we are using is for Admin area only. I guess you need to add your own date-picker

[2018-01-22 07:47] #66 closed

[2018-02-03 12:27] Azarakhsh opened #68 "Does not work with database functions such as Extract"
Cannot extract the month using [Extract()](https://docs.djangoproject.com/en/2.0/ref/models/database-functions/#extract) in annotation. Throws the error:
`'Extract input expression must be DateField, DateTimeField, '
ValueError: Extract input expression must be DateField, DateTimeField, TimeField, or DurationField.
`

[2018-02-03 14:54] slashmili commented on #68
@Azarakhsh can you give an example?

[2018-02-04 07:46] Azarakhsh commented on #68
@slashmili Sure.
I am trying to check if an incident has happened in daytime or not.
Due to daytime saving policy it is important if the month is among the first six month of the year or the other way around:
`import jdatetime as datetime
from django.db.models.functions import Extract
from Apps.models import Foo

input_date = 1395-06-31
Foo.FooDate = datetime.datetime.strptime(input_date, '%Y-%m-%

[2018-02-04 16:18] slashmili commented on #68
@Azarakhsh Thanks. So the thing is I don't use python recently and my Django skill is getting rusty.

I couldn't execute this sample codes specially from line 6.

The best way to move forward is if you add a test case to [this file](https://github.com/slashmili/django-jalali/blob/master/jalali_test_2_0/foo/tests.py). Then we can find a solution for that.  I guess we need to have a jExtract or some

[2018-02-12 12:30] Hojjatrt commented on #55
Hey guys,
i have this problem with admin page (JDateFieldListFilter) too!!
what is the solution?
Django : 1.11 , Python : 3.5

[2018-02-17 17:28] slashmili commented on #57
I'll close this issue due to inactivity, please provide more information and then I can follow up

[2018-02-17 17:28] #57 closed

[2018-02-18 18:49] mohsenbastani opened #70 "missing-admin-media-prefix"
hi.
there is a problem to showing calendar icon in add or edit forms in django admin.
with inspect element i see that :
`<img id="id_createdate_calendar" src="/missing-admin-media-prefix/img/icon_calendar.gif" alt="Calendar">`
i use from latest version of django and python .
regards.

[2018-02-19 08:04] mohsenbastani commented on #60
hi.
there is a same problem in django v.1.11
please do this changes for version 1.11.
regards.

[2018-02-19 13:49] mohsenbastani commented on #70
django v.1.11
python 2.7.14

[2018-02-19 16:49] slashmili commented on #70
@mohsenbastani I believe you are using an old version of [django_jalali](https://pypi.python.org/pypi/django_jalali). Please install latest version `2.4.5`

[2018-02-19 19:11] mohsenbastani commented on #70
![screenshot 7](https://user-images.githubusercontent.com/36606069/36393690-d6c6cf6e-15c5-11e8-8823-cb0478b1c0c5.png)
@slashmili
i think the lastest version of every things was installed on my vm.

[2018-02-19 19:13] mohsenbastani commented on #70
about error
![untitled](https://user-images.githubusercontent.com/36606069/36393777-44a2fd50-15c6-11e8-868a-50bae50eb20a.jpg)

[2018-02-20 12:56] slashmili commented on #70
@mohsenbastani there is definitely something wrong with your python setyo(python path or you might have installed it twice ...)

in version `2.4.5` the JS calendar popup has been changed to different plugin and it's in grey. Check out #62

[2018-02-20 14:45] slashmili commented on #70
You are correct, give me some time to look into that issue

[2018-02-21 20:02] mohsenbastani commented on #70
thanks a lot ! 👍

[2018-02-25 05:55] Azarakhsh commented on #68
@slashmili  Well I have added and successfully tested database functions support, including jExtractYear, jExtractMonth,  jExtractDay, jExtractWeekDay, jExtractWeek, jExtractQuarter. However I cannot import it from anywhere else than models inside jalali_test_2_0 folder. Could you please guide me with the procedure?

[2018-02-25 10:09] slashmili commented on #68
@Azarakhsh I'm not sure what is the problem you are facing. For local test, I always set the `PYTHONPATH` env:
[code]

[2018-02-25 10:26] slashmili commented on #70
@mohsenbastani please update your `django_jalali` to `2.4.6`

[2018-02-25 10:26] #70 closed

[2018-02-25 13:13] mohsenbastani commented on #70
<3

[2018-02-25 13:40] #58 closed

[2018-02-25 13:41] slashmili commented on #55
I fixed the timezone in master and drop support for Django 1.X.

If you need timezone please upgrade to Django 2.0

[2018-02-25 13:41] #55 closed

[2018-02-25 13:43] slashmili commented on #52
I've added support for timezone in master and also dropped support for Django 1.X.

If you need to use timezone please consider upgrading to Django 2.0 and use version 3 of Django jalali

[2018-02-25 13:43] #52 closed

[2018-03-14 18:00] mhb8898 commented on #60
hi.
same issues in django 2.0.3
regards.

[2018-03-15 10:38] mhb8898 opened #72 "jDateTimeField default"
Please provide your configurations and softwares version

* Python version: 2.7
* Django version: 1.11.6
* django_jalali version:
* OS:
[code]
django_jalali date time field does not support default argument.

[2018-03-15 10:56] #72 closed

[2018-03-15 15:26] slashmili commented on #51
Please provide your configurations and softwares version

* Python version:
* Django version:
* django_jalali version:
* OS:
* Stack trace of errror:

[2018-03-15 15:37] slashmili commented on #60
@mhb8898 I just started a fresh project and it worked for me

Checkout the example project https://github.com/slashmili/django-jalali/tree/master/jalali_test_2_0 and if you still have problem give me output of this commands:
[code]

[2018-03-27 10:15] mohsen306 opened #73 "Form Problem"
how to use  your widget in form ?

[2018-03-27 13:04] slashmili commented on #73
@mohsen306 the date widget is only accessible in Admin area.
For custom pages and  forms, you may use a 3rd party javascript library. We are using `jquery.ui.datepicker.jalali` inside the admin section

[2018-03-27 13:04] #73 closed

[2018-04-03 16:08] mohsenbastani opened #74 "date range filter"
Please provide your configurations and softwares version

* Python version: 2.7
* Django version: 1.11
* django_jalali version: 2.4
* OS: ubuntu
is there any option to search in date range (from - to ) with this app such as this app :
https://github.com/silentsokolov/django-admin-rangefilter

[2018-04-04 06:46] slashmili commented on #74
@mohsenbastani I rather than someone come up with `django-jalali-admin-rangefilter` instead of adding this feature to  `django-jalali`.

The reason is keeping `django-jalali` up to date with Django changes is hard enough and I don't want to make it harder by adding such a plugin.

Just glanced the project, looks simple 😃. I suggest to clone the repo and start making changes and you have Persian Da

[2018-04-04 06:46] #74 closed

[2018-04-08 16:37] Und3rCover96 opened #75 "'jDateField' object has no attribute '_get_val_from_obj'"
Please provide your configurations and softwares version
this is my model:
[code]
and this is my serilizer:

[code]
and my view is:
[code]
and after post comment my error is:
AttributeError at /usercomments/
'jDateField' object has no attribute '_get_val_from_obj'
how to fix it?

* Python version:3.5
* Django version: 2
* django_jalali version:last version
* OS: linux

[2018-04-09 15:46] slashmili commented on #75
@Und3rCover96 what is `serializers`?  I can't find it in Django docs neither ModelViewSet

[2018-04-10 22:26] Und3rCover96 commented on #75
its for django rest framework for convert data to json

[2018-04-11 09:06] slashmili commented on #75
@Und3rCover96 I've pushed a possible fix in #76.

Can you try it out? you can install that branch like this :

[code]

[2018-04-11 09:55] Und3rCover96 commented on #75
its not working alredy have this error
'jDateField' object has no attribute '_get_val_from_obj'

[2018-04-11 10:00] slashmili commented on #75
@Und3rCover96 I guess it's still loading the old package or you didn't install the new version using
[code]

as you [see here](https://github.com/slashmili/django-jalali/commit/ea2f6a09aae4442d6cd20069f5ca830b3e194cf9) `_get_val_from_obj` doesn't not exist anymore.

[2018-04-11 17:58] Und3rCover96 commented on #75
Collecting django>=2.0 (from django_jalali)
  Could not find a version that satisfies the requirement django>=2.0 (from django_jalali) (from versions: 1.1.3, 1.1.4, 1.2,
 1.2.1, 1.2.2, 1.2.3, 1.2.4, 1.2.5, 1.2.6, 1.2.7, 1.3, 1.3.1, 1.3.2, 1.3.3, 1.3.4, 1.3.5, 1.3.6, 1.3.7, 1.4, 1.4.1, 1.4.2, 1.
4.3, 1.4.4, 1.4.5, 1.4.6, 1.4.7, 1.4.8, 1.4.9, 1.4.10, 1.4.11, 1.4.12, 1.4.13, 1.4.14, 1.4.15, 1.4.16, 1

[2018-04-11 18:13] Und3rCover96 commented on #75
pip3 install git+https://github.com/slashmili/django-jalali.git@
django-2.0-fix
Collecting git+https://github.com/slashmili/django-jalali.git@django-2.0-fix
  Cloning https://github.com/slashmili/django-jalali.git (to django-2.0-fix) to /tmp/pip-gmdk7wgm-build
  Requirement already satisfied (use --upgrade to upgrade): django-jalali==3.0.0 from git+https://github.com/slashmili/django
-jalali.git@d

[2018-04-11 18:29] Und3rCover96 commented on #75
sry thanks its solved by:
`pip install git+https://github.com/slashmili/django-jalali.git@django-2.0-fix --upgrade
`

[2018-04-11 19:13] slashmili commented on #75
Merged and pushed to pypi as 3.0.1 version

[2018-04-11 19:13] #75 closed

[2018-05-07 19:09] zareifar commented on #11
hi guys, I have the same issue on django 2.0 and django-jalali-3.0.2. I also switched to github but no luck so far. 30th and 31st of Ordibehesht can not be set using [DRF](http://www.django-rest-framework.org/) requests. I can however set them using shell or admin. Any solutions or workarounds?
i Also noticed the incompatibility with admin's date_hierarchy drill down. Any help is appreciated.

[2018-05-08 07:06] slashmili commented on #11
@zareifar currently this library doesn't support DRF.

Looks like it needs some modifications to support DRF. I would appreciate if you take a look and make a PR for that.

[2018-05-08 07:06] #11 closed

[2018-05-12 17:40] amirRamirfatahi commented on #18
@slashmili I have the same problem! python 2.7 django 1.9

[2018-05-14 07:43] #51 closed

[2018-05-14 07:46] #28 closed

[2018-05-14 07:47] slashmili commented on #28
I close this issue due to inactivity

[2018-05-14 07:51] slashmili commented on #18
@amirRamirfatahi do you have any idea how to fix it? I couldn't find `jDateTimeShorts.js` file

[2018-05-14 08:30] amirRamirfatahi commented on #18
Well we didn't want to dive into JS so I went around the problem! There's
no problem with the extra forms so I just used them

On Mon, 14 May 2018, 12:21 Milad, <notifications@github.com> wrote:

[2018-05-26 12:50] Bha91 opened #79 "'jDateInput' object has no attribute 'attr'"
* Python version: 2.7.12
* Django version: 1.10.2
* django_jalali version: 2.4.4
* OS_dev:  Win
* OS: Linux
in forms fields, we can't update fields attribute
ex:        self.fields['jstart_date'].widget.attr.update({'class': 'mydatepicker'})

[2018-06-09 17:18] saeidshirazi opened #80 "jdata field object has no attribute _get_val_from_obj"
i have this error in the past and u fixit but in these version again hav this issue please fix this

* Pyt
![photo_2018-06-09_21-43-20](https://user-images.githubusercontent.com/36817155/41194316-d61bde0a-6c2e-11e8-9f6e-2af0872b98e0.jpg)
hon version:3.5
* Django version: 2
* django_jalali version:3.0.2
* OS: linux

[2018-06-10 13:54] slashmili commented on #80
@Und3rCover96 it was fixed in #76 and there is no [_get_val_from_obj](https://github.com/slashmili/django-jalali/commit/ea2f6a09aae4442d6cd20069f5ca830b3e194cf9) in the code. 🤔

[2018-06-20 09:36] slashmili opened #81 "Support for converting datetime locale based on Django"
The idea is to let `django_jalali` uses Django locale rather than system level locale when printing dates.

Given these settings
[code]

And this change:
[code]

It does work in some cases. However if the user has messed up locale settings in browser or user is from outside of Iran with different browser settings, Django `get_language` function returns `en` or `de` or any other locale and the date

[2018-06-20 09:57] farzadghanei commented on #81
It's a good idea, provides a sensible default value for locale based on the request. I like detecting best case defaults automatically, with enough room for configurations.

Maybe we can provide a way for the Django app (via `django-jalali` settings) to specify the priority of places to look for the default locale, giving the app more control over such behavior. The options to read locale from cou

[2018-06-20 11:30] slashmili commented on #81
There is already a complicated logic for django to find the closest locale for user https://github.com/django/django/blob/master/django/middleware/locale.py

it supports reading the language/locale from :
* Headers
* path in URL

So I guess we can only have an option to get locale from what this middleware has set or get the locale from LANGUAGE_CODE in settings.py

[2018-06-23 10:29] farzadghanei commented on #81
yeah seems good, we won't need to do what's already done plus it'll be a better integration. So the request carries the proper language code.
There is [django.utils.translation.get_language_from_request()](https://docs.djangoproject.com/en/2.0/ref/utils/#django.utils.translation.get_language_from_request) which returns this.

We can provide a way for the app to specify the order (priority) to pick

[2018-07-01 20:58] m0077 opened #82 "local time in templates"
Please provide your configurations and softwares version

* Python version:3.5.2
* Django version: 2.0.4
* django_jalali version:3.0.2
* OS: linux

when show time in template like {{ value.time }} the time is not local im in iran and it have 4:30 hours behind

[2018-07-02 11:59] slashmili commented on #82
@m0077 did you set `TIME_ZONE` ? Set it to `Asia/Tehran`
[code]
If the TIME ZONE is set, it works for me.

If you still have problem, please provide a sample code that doesn't work for you and I can reproduce it in my local.

[2018-07-02 12:05] m0077 commented on #82
my problem solved by change the
USE_TZ = False

[2018-07-02 15:29] slashmili commented on #82
@m0077 I've added [more tests ](https://github.com/slashmili/django-jalali/commit/50eafc4b6e2dda7d63a77d6785ca338380bf9586) and [it passed](https://travis-ci.org/slashmili/django-jalali/builds/399182246) in CI.

I have no idea why it doesn't work for you :(

[2018-07-02 15:31] slashmili commented on #82
What I can suggest is try to configure the default `DateField` and see if it works with `USE_TZ` flag

[2018-07-02 15:32] #82 closed

[2018-08-19 21:29] sassanh commented on #47
@slashmili
I think it's better to jDateTimeField and jDateField should inherit from DateTimeField and DateField.
All lookups related to date/time fields only work in subclasses of these fields, look at this line:
https://github.com/django/django/blob/master/django/db/models/functions/datetime.py#L66

[2018-12-05 14:09] HosseinKeramati opened #85 "how to change the title of calendar icon image tag?"
Please provide your configurations and softwares version

* Python version:3.6.5
* Django version: 2.0.5
* OS: Ununtu 16.04
-----

I want to change the title that set to "..." , but I can't find the right html file.

![img_9137](https://user-images.githubusercontent.com/34791486/49518673-75441d00-f8b4-11e8-839b-d27f7fc9b8ca.jpg)

Thank You

[2018-12-07 03:50] slashmili commented on #85
I guess it's from [here](https://github.com/slashmili/django-jalali/blob/master/django_jalali/static/admin/jquery.ui.datepicker.jalali/scripts/jquery.ui.datepicker-cc.js)

[2018-12-07 03:50] #85 closed

[2019-03-08 11:58] poorya-kh opened #86 "mysql support"
Please provide your configurations and softwares version

* Python version:3.7.2
* Django version: 2.1.3
* django_jalali version:3.1
* OS: windows 10

First of all thank you so much for your brilliant package. Every thing worked pretty good when I used sqlite and postgres;However, when I decided to use mysql instead, I faced this error at the moment of saving values.
"(1292, "Incorrect datetime va

[2019-04-16 17:20] hasanparasteh opened #88 "problem with utcoffset(dt) in django models!"
I'm using django_jalali as Persian calendar into my Django project and I wanted to add auto_now_add and auto_add for created_at and updated_at variables that hold time. When I add a post from Django admin it will apply correctly with no problem but when I want to update the post it will crash by `utcoffset(dt) argument must be a datetime instance or None, not datetime` error...

I tried to remove

[2019-04-16 18:27] hasanparasteh commented on #88
It's fixed by adding an extra argument to variables here is the code:

[code]

[2019-04-16 18:33] #88 closed

[2019-04-18 12:42] slashmili commented on #86
Hi @poorya-kh,

I'm not using this project actively. Currently I am not planning to add new features.

However I'll gladly accept a PR that bring mysql support!

[2019-06-06 02:00] sassanh opened #89 "Compatibility with admin panel of Django 2.2"
Please provide your configurations and softwares version

* Python version: 3.7
* Django version: 2.2.2
* django_jalali version:3.1.0
* OS: Ubuntu 18.04

django-jalali is not compatible with Django 2.2 because of this change: https://docs.djangoproject.com/en/2.2/releases/2.2/#merging-of-form-media-assets

[2019-06-06 02:02] sassanh commented on #89
I'm getting these errors:
[code]

[2019-06-11 08:54] 7xMind opened #90 "jDateField fails to validate Persian months in case month=2 and day=31"
* Python version: 3.6
* Django version: 2.2
* django_jalali version:
* OS: ubuntu
Django-jalali jDateField fails to validate inputs where month is 2 and date is 31. For instance, 31.2.97  is a valid Persian date, but not a valid Gregorian date since February does not have 31st day.
The issue seems to be using DateTime validation rather than a custom validation.

[2019-06-12 21:00] ahatashkar commented on #65
I follow the installation guide step by step. When I command "python3 manage.py makemigrations", this error shows up:
ModuleNotFoundError: No module named 'django_jalali'
please help me
thank you

[2019-06-30 23:03] Omid888 opened #91 "Unsupported datetime"
* Python version:3.7
* Django version: 2.2.2
* django_jalali version:3.1.0
* OS: fedora

When I tried to use jalali datetime in my admin.py(just like the example provided) , I got the following issue: list_display only accepts some strings in one tuple, not some tuples in one tuple.
(your example contains a tuple in a tuple).

This link describes 4 ways to use "list_display" :
https://docs.djangop

[2019-07-01 08:31] slashmili commented on #65
@ahatashkar, I'm sorry but it's not an issue of this module.

I just tried it again locally and it works, you probably missing some configuration, notably modifying your `project/settings.py` and adding `django_jalali` in your `INSTALLED_APPS` on the top of the list(it should be on the top of the list before your own apps)

[2019-07-01 09:01] slashmili commented on #90
Hi @7xMind, What's wrong with 31st of Ordibehesht?

It's always 31 days, isn't?

[2019-07-01 09:03] slashmili commented on #91
Thanks for reporting the issue.

I close it since it's duplicated #89

[2019-07-01 11:21] Omid888 commented on #91
now that I tested, Issue exists on django 2.1 as well. so it's not the same bug as #89

[2019-07-01 11:51] #91 closed

[2019-07-04 14:39] omid24 opened #92 "Fixture does not work for jdatetime field"
Please provide your configurations and softwares version

* Python version:
* Django version:
* django_jalali version:
* OS:

Dear all,
I have deployed django-jalali in my project. Recently, I was trying to restore a backup which was built using fixture. Unfortunately, when I try to restore backup using
fixture loaddata
all the dates are saved in Jalali format while django needs Gregorian format.

[2019-07-07 05:11] HodaJafari commented on #90
@slashmili In persian calender yes. But, in greforian calender 31.2(dd/mm) means February 31th which is not a valid date. Gregorian Calender does not have 31.2. Given that you call the django DateField validation to validate the input, it triggers the ValidationError.
Put differently, if I want to put Ordibehesht 31th, your JalaliDateField sees it as February 31th which is not a valid Gregorian da

[2019-07-08 09:43] slashmili commented on #90
Hi @HodaJafari

This is an example record that I saved and I don't see that django complains about the date.

![Screenshot-1397-02-31](https://user-images.githubusercontent.com/585764/60800429-77859700-a175-11e9-8562-8cc1341f09d7.png)

Can you provide screenshot or stacktrace that provides more information?

[2019-07-08 09:53] slashmili commented on #92
Hmm something is wrong here!

The dates are all should have been saved in DB in Gregorian date not Persian date. This is an example of what I have in a sample app:

[code]

What I can suggest:
1. figure out why the dates are saved in Jalali in a sample project
2. apply the fix in your main project
3. convert the dates to Gregorian and create a new json
4. import jsons file.

BTW you didn't provide

[2019-07-08 09:53] #92 closed

[2019-07-08 20:32] omid24 commented on #92
I use of django 2.3 and python3.6 and in setting.py file, i set:

LANGUAGE_CODE = 'fa-ir'
TIME_ZONE = 'Asia/Tehran'
USE_I18N = True
USE_L10N = True
USE_TZ = False

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'db_name',
        'USER': 'db_user_name',
        'PASSWORD': 'pass',
        'HOST': 'localhost',
        'PORT': '5432',
    }

[2019-07-09 10:08] HodaJafari commented on #90
Thank you @slashmili
Our issue is resolved.
For future reference:
We hadn't included objects = jmodels.jManager() in our model.

[2019-07-09 20:23] slashmili commented on #90
@7xMind I close this issue for now, feel free to open it with more debugging information

[2019-07-09 20:23] #90 closed

[2019-07-09 20:35] slashmili commented on #89
For the reference there more problem with Diango 2.2 see the CI output

https://travis-ci.org/slashmili/django-jalali/jobs/556482695

[2019-07-14 08:09] HodaJafari opened #93 "compatibility with form"
* Python version: 3.3.7
* Django version: 2.2.1
* django_jalali version:2.2.1
* OS: ubuntu 18

I am using jDateField in my model:
start_date = jmodels.jDateField(null=True, blank=True)

and in my form I am using the date like this:
DATE_INPUT_FORMATS = ['%Y/%m/%d', '%Y-%m-%d']
start_date = forms.DateField(input_formats=DATE_INPUT_FORMATS)

when I am using the date in my form the output of the date

[2019-07-14 09:17] mshirdel commented on #93
In forms.py use this way:
`
from django_jalali import forms as jforms
`
in your form class:
`
start_date = jforms.jDateField(widget=jforms.widgets.jDateInput())
`

[2019-07-14 09:55] slashmili commented on #93
Thanks @mshirdel! I was absolutely clueless how to answer that 😆

@HodaJafari I hope that answers your question

[2019-07-14 09:55] #93 closed

[2019-07-15 13:22] Rahimimojtaba opened #94 "OpenEDX Integration"
Please provide your configurations and softwares version

* Python version: 2.7
* Django version: 1.11.8
* django_jalali version: 2.4.6
* OS: Debian

Dear Milad,
Hi,
I want to use your Jalali Calendar in OpenEDX platform. I tried many ways, but I wasn't success. Can you please help me to do that?
Thanks

[2019-07-16 04:43] HodaJafari commented on #93
Thank you both @slashmili @mshirdel for your answer
but how can I accept different kinds of input formats in jDateField?
DATE_INPUT_FORMATS = ['%Y/%m/%d', '%Y-%m-%d']
start_date = forms.DateField(input_formats=DATE_INPUT_FORMATS)
this accept both 1398-2-1 and 1398/2/1 format.

[2019-07-16 05:22] HodaJafari commented on #93
I did this:
DATE_INPUT_FORMATS = ['%Y/%m/%d'']
start_date = jforms.jDateField(input_formats=DATE_INPUT_FORMATS, widget=jforms.widgets.jDateInput())
and it returns that 1398/2/1 is invalid format

[2019-07-16 08:00] slashmili commented on #94
@Rahimimojtaba I don't know about `OpenEDX` and don't have access to it to try it out. However if the OS is debian as you mention, I'll suggest to run the project in a normal debian(maybe in your local vm) and if you have any problem or if you get any error. I'll be happy to help

[2019-07-16 08:00] #94 closed

[2019-07-16 10:07] Rahimimojtaba commented on #94
Hi, Thanks for your reply. OpenEDX is an opensource platform for online learning purpose. If you want I can give you required access. I tried in normal debian and also sample app. Everything was fine, but when I import it to OpenEDX django apps, I faced with internal server error. Can you please help me? Thanks

[2019-07-16 12:32] slashmili commented on #94
@Rahimimojtaba unfortunately I don't have time to look into `OpenEDX`.

PRs are always welcome though 🕺

[2019-07-18 12:58] HodaJafari opened #95 "invalid format in jform"
I did this:
DATE_INPUT_FORMATS = ['%Y/%m/%d'']
start_date = jforms.jDateField(input_formats=DATE_INPUT_FORMATS, widget=jforms.widgets.jDateInput())
and it returns that 1398/2/1 is invalid format

[2019-08-04 08:35] ajahansh opened #96 "jDateTimeField not parsing timezone from dumpdata json format"
django_jalali could not parse datetime in loaddata command. though dumpdata is working fine ("%H:%M:%S%z"). It seems that the problem might be not parsing %z in jdatetime, although django.utils.timezone.datetime does that.

[code]

* Python version:3.7
* Django version: 2.2
* django_jalali version:3.1.0
* jdatetime version: 3.4.0
* OS: Docker minicoda3

[2019-08-06 05:17] ajahansh commented on #96
It seems that this package is no longer actively supported. Better to stay away for the moment !

[2019-08-06 07:52] slashmili commented on #96
Did you dump the database and now you want to restore it? If the answer is yes how did you do it? I haven't used Django for a long time.

BTW implementing timezone in [jdatetime.datetime.strptime](https://github.com/slashmili/python-jalali/blob/master/jdatetime/__init__.py#L879) is quite complex.  I created an issue for https://github.com/slashmili/python-jalali/issues/53

[2019-08-06 08:48] ajahansh commented on #96
Yes, I dumped a model containing `jDateTimeField`. It gets dumped correctly as UTC: `"23:59:03+0000"`, but it is unsuccessful in `loaddata`. `+0000` can not be parsed.

[2019-08-06 09:34] ajahansh opened #97 "Specific date not parsing"
[code]

* Python version:3.7
* Django version: 2.2
* django_jalali version:3.1.0

[2019-08-06 10:53] ajahansh commented on #97
The problem is that jalali parsing is not available.

[2019-08-06 15:29] ajahansh commented on #97
`parse_date` function needs to parse gregorian from database and jalali from input stream which is not doing correctly at the moment, will fail for days of month not in gregorian calendar. Function needs to be rewritten, Unfortunately no time to do so on my behalf. Will use DateTimeField for the time being and write custom fields in the form to show time in jalali.

[2019-11-08 15:54] aminbahrabadi opened #101 "utcoffset(dt) argument must be a datetime instance or None, not datetime"
* Python version: 3.7
* Django version:  2.2.1
* django_jalali version: 3.1.0
* OS: Tested on Windows and Ubuntu

Recently when I create a jDateTimeField, this error appears:

The error seems to be here:

[2019-11-09 10:03] kodehost opened #102 "when setting autocomplete fields in admin calendar widget icon disappears"
Please provide your configurations and softwares version

* Python version:3.6
* Django version: 2.2.7
* django_jalali version: 3.1.0
* OS: ubuntu18

[2019-11-09 10:29] slashmili commented on #101
@aminbahrabadi please update jdatetime package in your dependencies list

it's fixed in https://github.com/slashmili/python-jalali/pull/62

[2019-11-09 10:43] aminbahrabadi commented on #101
I still get that error and about jdatetime:
`Requirement already up-to-date: jdatetime in c:\users\**\envs\**\lib\site-packages (3.6.2)`

[2019-11-15 06:38] slashmili commented on #102
Hi @kodehost,

What do you mean by "autocomplete fields"?

Can you give me an example template/code that you are using?

[2019-11-15 06:39] #97 closed

[2019-11-15 11:38] kodehost commented on #102
Thanks for attention!
I have a main table named identity with "kode" as pk.
Two tables Company and Person with "kode" as OneToOneField to identity.kode
and other FKs. when in admin.py i define autocomplete_fileds for these OneToOne and FK fields **icon** of jalali calendar widget disappears for DateField.
Also for DateTimeFields, Time icon is showing but for Date none.

Here is admin Person class:

[2019-11-15 11:43] kodehost commented on #102
Forgot to say that there is  "birth_date" and "created_datetime".

[2019-11-16 11:17] hramezani commented on #102
@kodehost, It would be good to create a minimal project to explain the bug.
Otherwise, Please give:

- Identity, Person, Company model definition.
- The above-mentioned model's admin.
- Any other customization on your admin.

[2019-11-27 06:37] Bha91 commented on #89
same problem for me, not compatible with django 2.2, but it is ok after downgrade to django 2.1.

[2019-11-27 08:47] hramezani commented on #89
@Bha91 Thanks.
Could you please give me more detail about it.
On what page do you encounter this error?

[2019-11-27 11:16] hramezani commented on #95
@HodaJafari, Thanks for the issue and sorry for the late reply.
Could you please give me more information?
What do you mean about the ` invalid format`?
What is the correct format?

[2020-01-02 20:10] kasaiee opened #104 "به روز رسانی به نسخه جنگوی ۳"
سلام در حال حاضر از جنگوی ۳ پشتیبانی نمیشه لطفا بررسی کنید.
خیلی ممنون از کتابخونه خوبی که نوشتید

[2020-01-10 13:28] #104 closed

[2020-04-30 10:57] smb-h commented on #101
I still get this error :(

[2020-04-30 11:00] aminbahrabadi commented on #101
@smb-h me too!

[2020-04-30 11:07] hramezani commented on #101
@aminbahrabadi , @smb-h Thanks for reporting again :).
Is it possible for you guys to post your environment information like OS, Python version, Django version, django_jalali version, python-jalali version, and ...

Also, It would be good to create a minimal project with the bug. it would help us to find the problem easier.

Thanks

[2020-04-30 12:15] smb-h commented on #101
@hramezani of course.
OS Ubuntu 2020.04 lts
Python 3.8.2
Django 3.0.2
django-jalali 3.3.0

and the field causing this problem
`    date_joined = jmodels.jDateTimeField(auto_now_add = True, auto_now = False, verbose_name = _('Created'))
`

[2020-05-03 22:15] Rebix commented on #101
I'm still getting the error

[2020-05-16 04:59] typerhack opened #109 "default = datetime.now() results in gregorian date"
* Python version: 3.7
* Django version: 3.0.6
* django-jalali version: 3.3.0
* jdatetime version: 3.6.2
* OS: Win 10

Greetings,
I used jDateTimeFeild as follows:
`article_persian_date = jmodels.jDateTimeField(default=datetime.now())`

I think at first it automatically converted it to Jalali date since the package checks for "datetime" instance. but now it shows the default as a gregorian date.  I

[2020-05-16 12:24] hramezani commented on #109
Hi @typerhack,
Thanks for reporting this.

Yes, you are right. that's because `jdatetime.datetime` is not an instance of `datetime.datetime`:

[code]

The solution would be set a Jalali datetime which is an instance of `datetime.datetime` as default:
[code]

Are you interested in creating a PR and add this to README?

[2020-05-16 13:47] typerhack commented on #109
Thanks for the response I would surely like to create a PR. However, the issue has not been resolved yet. I copied the code in your answer it is still getting this message:

`Operations to perform:
  Apply all migrations: admin, auth, author, banner, blog, contenttypes, sessions
Running migrations:
D:\DjangoApp\venv\lib\site-packages\django\db\models\fields\__init__.py:1368: RuntimeWarning: DateTi

[2020-05-16 14:02] hramezani commented on #109
Is it a new project? or you are going to change the existing project?
it would be good to create a simple project with the mentioned error.
You can push it to Github or send me the project zip file by email: `hasan.r67@gmail.com`
Then I can investigate it.
Thanks

[2020-05-16 14:06] typerhack commented on #109
It is an existing project. I'll create a new one and send it to you

[2020-05-16 14:46] typerhack commented on #109
I tested it on a test project and worked fine. It seems like it had an issue with my DB. I recreated the DB and everything is fine. I am going to create a PR. I also may add a new bootstrap picker to the module. I am not very familiar with module development but I'll try my best.
Thank you

[2020-05-16 14:53] hramezani commented on #109
Nice!
I think it would be better to handle this conversion in JDateTimefild.

[2020-05-17 09:08] typerhack commented on #109
I must add that this approach only returns the start time of the server and it is not dynamic. to elaborate, we need the time to be updated to the current time.

[2020-05-17 13:22] hramezani commented on #109
I think setting a default value for `JDateTimeField` or `DateTimeField` is not the right way to have the current datetime in the admin panel. Please take a look at this [Stackoverflow question](
https://stackoverflow.com/questions/1737017/django-auto-now-and-auto-now-add/22015427).

Actually, the problem is setting a `jdatetime.datetime` instance as default value for `JDateTimeField`. something li

[2020-06-11 05:52] mhsharifi96 opened #114 "jalali date converted ?!"
* Python version:3.8.2
* Django version: 3.0.6
* django_jalali version:3.3.0
* OS:  ubuntu
* djangorestframework:3.11.0

hi ,dear
I have problem, I think that when request in server  jalali date convert  to jalali .for example
in request: send `"birthday" : "1363-8-01"` and get response `"birthday" : "1363-8-01"`
but in db birthday saved  `742-05-10`

[code]

[2020-06-17 07:30] #109 closed

[2020-06-20 14:30] usefss commented on #101
I still have this problem:
Django        3.0.7
django-jalali 3.4.0
jdatetime     3.6.2
I have this field in my model:
`timeStamp = jmodels.jDateTimeField(default=jdatetime.datetime.now, editable=False)`
and because timeStamp tzinfo is not set automatically I have to set it in save method manually:
[code]
this works perfectly and doesn't bother but when I'm updating my model it gives:

steps to cre

[2020-06-20 14:45] hramezani commented on #101
Hi @usefss, Thanks for reporting the problem.
The https://github.com/slashmili/django-jalali/pull/108 fixes this problem. we need time to check the PR and merge it. Then we will prepare a release for it.

[2020-06-22 08:34] hramezani commented on #101
`django-jalali 4.0.0` is out https://pypi.org/project/django-jalali/4.0.0/
Thanks @slashmili :+1:

[2020-06-25 22:35] slashmili commented on #101
Thanks for your great work @hramezani 👏

I'm closing this ticket for now, feel free to open it if you still have the same issue

[2020-06-25 22:35] #101 closed

[2020-08-09 09:48] nimasalemahim opened #116 "datepicker not shown"
hi i want to add widget to my jDateField in django admin model and do it like this
    formfield_overrides = {
        jDateField: {
            'widget': AdminjDateWidget
        },
    }
but it dosenot work and datepicker not show on input in django admin page
can you help me ?
"GET /static/admin/main.js HTTP/1.1" 404
GET /static/admin/css/main.css HTTP/1.1" 404
these are errors i face with

* P

[2020-08-11 15:19] hramezani commented on #116
Hi,
I think the problem is from static files. You can add `django_jalali` to your `INSTALLED_APPS` in `settings.py` and run `collectstatic` to have missed files in your static file directory.

[2020-08-11 15:33] nimasalemahim commented on #116
hi thanks for your reply 🙏 i did what you said
now i face this error in consol and also datepicker icon dosenot load when
i click on that this error apears whould you please help me ?

On Tue, Aug 11, 2020, 7:50 PM Hasan Ramezani <notifications@github.com>
wrote:

[2020-08-11 15:39] hramezani commented on #116
What error did you face with?

[2020-08-11 15:41] nimasalemahim commented on #116
Uncaught TypeError: $(...).zIndex is not a function
    at Datepicker._showDatepicker (jquery.ui.datepicker-cc.js:760)
    at HTMLImageElement.<anonymous> (jquery.ui.datepicker-cc.js:241)
    at HTMLImageElement.dispatch (jquery.js:5429)
    at HTMLImageElement.elemData.handle (jquery.js:5233)

On Tue, Aug 11, 2020 at 8:09 PM Hasan Ramezani <notifications@github.com>
wrote:

[2020-08-11 15:56] nimasalemahim commented on #116
are you familiar with that ?

On Tue, Aug 11, 2020, 8:11 PM nima salemahim <nimasalemahim@gmail.com>
wrote:

[2020-08-26 11:34] Mehran-Isapour opened #117 "Date picker not shown in html template"
Please provide your configurations and softwares version

* Python version: 3.8
* Django version: 3.1
* django_jalali version: 4.0.0
* OS: ubuntu 20

Hi.
How do I add the jalali date picker to my template?

More details:
I used jDatetime field in my model.
Then I created a form based on it with ModelForm.
I also added the following code to the form:
widgets = { 'my_date': widgets.jDateTimeInput }

[2020-08-26 13:10] hramezani commented on #117
Hi @Mehran-Isapour. Thanks for reporting. I will check it in my free time. It may take some time.

[2020-08-27 09:54] Mehran-Isapour commented on #117
Thank you so much!
So I'll wait because I have used it in my project and I am going to finish it.
Should I have done anything other than what I wrote above?
Thanks again!

[2020-08-29 13:35] hramezani commented on #117
`forms.widgets.jDateTimeInput` is a form widget not a `date picker`.
If you want to have admin date picker in your form you have to use [admin.widgets.AdminSplitjDateTime](https://github.com/slashmili/django-jalali/blob/master/django_jalali/admin/widgets.py#L38) for DateTimeField and [admin.widgets.AdminjDateWidget](https://github.com/slashmili/django-jalali/blob/master/django_jalali/admin/widgets

[2020-08-29 13:38] hramezani commented on #116
@nimasalemahim Please check my [comment](https://github.com/slashmili/django-jalali/issues/117#issuecomment-683290988). maybe it helps you to fix your problem.

[2020-08-31 18:33] Mehran-Isapour commented on #117
Thanks a lot for your attention.
I want to take a date from the user using a date picker and save it in a model instance. (On the normal page that the user sees, not on the site admin page)
Is the instruction you wrote what I need to do?
or do I need to install a plugin to do it?

[2020-09-01 08:17] hramezani commented on #117
Yes, If you want to have Django jalali admin data picker on your form.

I would suggest using another data picker plugin because this is for the admin page

[2020-09-01 15:53] Mehran-Isapour commented on #117
Thank you very much for your guidance.

[2020-09-21 07:24] alikamrani opened #118 "having problem with jDateTimeField in month that have 31 days"
Please provide your configurations and softwares version

* Python version: 3.8.2
* Django version: 3.1
* django_jalali version : 4.0.0
* OS:

hi,
I have a problem with  jDateTimeField in month that have 31 days Only in the months of ordibehest(02) , tir (04) , sharivar (06) .

for example when i send (1399-06-31 00:00:00 or 1399-04-31 00:00:00 or 1399-02-31 00:00:00) ,  i recive  this error  in r

[2020-09-21 08:33] hramezani commented on #118
Hi,
Could you please prepare more information?

end: [,…]

How do you send it?

Note: The links which you provided don't work for me.

[2020-09-21 09:00] alikamrani commented on #118
hello i upload pictures again . you can see new links below .

send
https://www.linkpicture.com/view.php?img=LPic5f686b01e33dd766021355
response
https://www.linkpicture.com/view.php?img=LPic5f686ba286958354615696

[2020-09-21 09:15] hramezani commented on #118
Please give me your model, form and views function.
It would be good to create a minimal project with the bug and push it on Github or send it to me by zip file. This helps me to find the problem.

[2020-09-22 09:10] alikamrani commented on #118
hi . I create a simple project to show the bug .I also put postman request file in the project that you can use to see the error .
 you can download project below :
http://www.mediafire.com/file/f0hd543am9pqpfp/jalali_date.zip/file

[2020-09-22 09:48] hramezani commented on #118
Thanks for preparing the test project.
It seems you are using `django-rest-framework` in your project. django-rest-framework doesn't have any specific field serializer for `jDateTimeField` and it considers this field as normal ` DateTimeField()`:

[code]

That's why you get an error.

You can add a custom django-rest-framework serializer field and use it in your `JalaiDateTestSerializer`.
Here is

[2020-09-23 09:36] alikamrani commented on #118
hi . Thank you very so much for your response . i dont have this problem with jDate filed . Is this problem only for jDateTimeField ?

[2020-09-23 09:50] hramezani commented on #118
If you add a `jDateField` to your model like this:
[code]
And change your serializer like this:
[code]

By sending the `1399-06-31` as value for `end1`, you will have the error:
[code]

[2020-09-24 06:11] alikamrani commented on #118
thank you so much . My problem Resolved

[2020-09-24 06:11] #118 closed

[2020-10-03 11:24] mmd-mostafaee commented on #114
After updating from 3.0.3 to 4.0.0 I faced same problem :/
any update or solution on this bug?

[2020-10-03 11:45] mmd-mostafaee commented on #114
I think problem is from [this lines](https://github.com/slashmili/django-jalali/blob/e424232e2002585aa5072cf90548edc57f51a36b/django_jalali/db/models.py#L85)
I use DRF
Client side sends jalali date but DRF thinks it's a datetime or date instance so uses datetime or date field, then jDateField receives a `datetime.date` or `datetime.datetime` from DRF serializer and convert it to jalali again
this

[2020-10-03 16:09] hramezani commented on #114
@mmd-mostafaee Thanks for reporting.
It would be good to create a minimal project with the bug and push it on Github or send it to me by zip file. This helps me to find the problem.
Also, please take a look at [this issue](https://github.com/slashmili/django-jalali/issues/118), maybe it helps you.

[2020-10-23 06:53] slashmili commented on #117
I'm closing this issue. Feel free to open it again if you have further questions.

[2020-10-23 06:53] #117 closed

[2020-10-23 06:55] slashmili commented on #116
I'm closing this issue. Feel free to open it again if you have further questions.

[2020-10-23 06:55] #116 closed

[2020-10-23 06:58] slashmili commented on #102
I'm closing this issue. Feel free to open it again when you have a sample project to explain the issue

[2020-10-23 06:58] #102 closed

[2020-10-23 06:58] slashmili commented on #114
I'm closing this issue. Feel free to open it again if when you have a minimal project that show the issue.

[2020-10-23 06:58] #114 closed

[2020-10-23 07:00] slashmili commented on #95
I'm closing this issue. Feel free to open it when you have more input to add to this issue.

[2020-10-23 07:00] #95 closed

[2020-10-23 07:01] slashmili commented on #80
I'm closing this issue. Feel free to open it again if you have further questions.

[2020-10-23 07:01] #80 closed

[2020-10-23 07:02] slashmili commented on #18
I'm closing this issue. Feel free to open it again if you have further questions.

[2020-10-23 07:02] #18 closed

[2020-10-23 07:03] slashmili commented on #47
I'm closing this issue. Feel free to open it again if you have further questions.

[2020-10-23 07:03] #47 closed

[2020-10-23 07:04] slashmili commented on #68
@Azarakhsh Thanks a lot for contributing back to the project.

Please create a PR and submit your patch

[2020-10-23 07:04] #68 closed

[2020-11-01 06:32] omideus commented on #114
Same problem here.

[2020-11-01 12:54] slashmili commented on #114
@omideus thanks for reporting it.

As @hramezani mentioned one of you(DRF users) need to create simple project to show the issue.

[2020-12-08 17:56] AminHP commented on #102
Please check out this project:

https://drive.google.com/file/d/113-VuOZX09U_eFSGkkSe2jJtOhS7MItf/view?usp=sharing

[2020-12-08 22:40] hramezani commented on #102
Thanks @AminHP for the project.
I will check it as soon as possible.

[2020-12-10 15:31] hramezani commented on #102
@AminHP I've created a PR(https://github.com/slashmili/django-jalali/pull/121) to fix the problem.
Could you please apply my change on your project and confirm that the fix works fine.
Then we can make a new release with the fix.
Thanks

[2020-12-10 18:08] AminHP commented on #102
Thank you @hramezani ! it works fine now.

[2020-12-10 18:13] hramezani commented on #102
@AminHP Thanks for your feedback. Let's wait for @slashmili to review the PR and then we will release a new version with the fix

[2020-12-11 18:42] hramezani commented on #102
Django Jalali 4.1.0 just release https://pypi.org/project/django-jalali/

[2020-12-15 20:09] AminHP opened #124 "Problem with auto_now_add"
It seems there is a problem when `auto_now_add` is `True` and `TIME_ZONE` is `Asia/Tehran`. Here is an example:

* Python version: 3.8.6
* Django version: 3.1.4
* django_jalali version: 4.1.0
* jdatetime version: 3.6.2
* OS: ubuntu 18.04

foo/models.py:
[code]

jalali_test/settings.py
[code]

shell:
[code]

Am I missing something?

[2020-12-15 22:06] hramezani commented on #124
Thanks @AminHP for reporting.
I've created a PR(https://github.com/slashmili/django-jalali/pull/125) to fix the problem.
Could you please confirm that the patch fixes your problem?
Thanks

[2020-12-16 10:38] AminHP commented on #124
Thank you @hramezani for your quick response, the patch solves the problem :)

[2020-12-16 10:50] hramezani commented on #124
Thanks for the feedback. I will make a new release with the fix soon.

[2020-12-16 11:09] #124 closed

[2020-12-16 11:19] hramezani commented on #124
I just created a new release with the fix.
[django-jalali 4.1.1](https://pypi.org/project/django-jalali/)

[2021-01-01 21:26] AmirMahmood opened #128 "jDateTimeField doesn't use django format localization"
I have a `DateTimeField` with `editable=False`. admin page shows this field like this:

but when i change `DateTimeField`  to `jDateTimeField`, it looks like below:

it seems `jDateTimeField` doesn't use [django format localization settings](https://docs.djangoproject.com/en/3.1/topics/i18n/formatting/) like `DATETIME_FORMAT`.

* Python version: 3.6
* Django version: 3.1.3
* django_jalali version:

[2021-01-03 16:50] hramezani commented on #128
Yes, That's true because Django Jalali uses [Python Jalali]( https://github.com/slashmili/python-jalali). when you use `jDateTimeField`, Django Jalali replaced datetime objects with `jdatetime` and `1399-10-11 17:57:18.740070+0330` comes from
[python jalali datetime __str__ function](https://github.com/slashmili/python-jalali/blob/455dfda2a74a2afa874146f13f86fa22c97e5191/jdatetime/__init__.py#L131

[2021-01-05 08:48] AmirMahmood commented on #128
Currently, I have no idea how to add this feature. :)
but I will create PR if I find any suitable solution.

[2021-01-16 23:59] mshzsh opened #129 "django.db.utils.DataError: date/time field value out of range: "1336-02-30""
* Python version: 3.8
* Django version:  3.1.5
* django_jalali version: 4.1.2
* OS:  Debian

Date "02-30" cannot be used!

[2021-01-17 10:14] slashmili commented on #129
Hi @mshzsh could you give an example? Where do you get this error? Is there any stack trace?

[2021-03-01 15:01] MrMahdi313 opened #130 "دریافت از نوع datetime"
سلام خسته نباشید
من چون داخل برنامم یه سری محاسبات روی تاریخ انجام میدم
ترجیحم این هست که محاسبات رو با تاریخ میلادی انجام بدم چون کتابخونه های دیگه شمسی رو ساپورت نمیکنن
ولی وقتی توی مدل میزنم
self.birth_date
بهم یک
instance
 از نوع
jdatetime.date
 میده
من میخوام به صورت میلادی و از نوع
 datetime.date
 بگیرم
آیا امکانش هست؟

[2021-03-01 15:09] MrMahdi313 commented on #130
یا اگر امکانش نیست چه طوری میتونم خروجی
jdatetime.date
رو به
datetime.date
تبدیل کنم؟

[2021-03-01 15:19] MrMahdi313 commented on #130
با استفاده از
self.birth_date.togregorian()
مشکلم حل شد

فقط اگر توی کلاس
jdatetime.date
این متد رو بنویسید که بهمون اتوکامپلت هم بده ide عالی میشه

[2021-03-01 15:19] #130 closed

[2021-03-01 15:26] MrMahdi313 opened #131 "How can i search jdatetiime?"
Please provide your configurations and softwares version

* Python version: 3.8.7
* Django version: 3.1.7
* django_jalali version: 4.1.2
* OS: Linux/Fedora32
*

When i put `date_field` in `search_fields` should search Gregorian date.
i want search 1399 & show list of users with 1399 jdate instead of search 2021.

[2021-03-01 16:15] hramezani commented on #131
Hi @MrMahdi313, Thanks for reporting.
What is the `date_field` type in your model?

It would be good to provide your `models.py` and `admins.py` content here.

[2021-03-02 05:43] MrMahdi313 commented on #131
models.py:

[code]

admins.py:
[code]

[2021-03-02 12:39] hramezani commented on #131
Based on [Django doc](https://docs.djangoproject.com/en/3.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.search_fields), the search fields have to be some kind of text field, like `CharField` or `TextField`. You can do related lookups with foreignkeys and the like, but not with other field types.

You can change this behavior by overriding the [get_search_results method](https://docs.djangop

[2021-03-04 09:22] MrMahdi313 commented on #131
But it can be customized using adding query to [get_search_result](https://docs.djangoproject.com/en/3.1/ref/contrib/admin/#django.contrib.admin.ModelAdmin.get_search_results)
In fact, the library can manage this issue.

[2021-03-04 09:46] hramezani commented on #131
As Django itself doesn't support search in DateTimeField in `search_fields`, I think it wouldn't be a good idea to support it as a third-party library.

[2021-04-24 11:00] mshzsh commented on #129
After similar problems, I realized that when we use django rest framework, the date is stored in the wrong format in the database, and the jalali dates need to be saved as custom in the "create" method  in serializers.
Like the following codes:
[code]

[2021-04-24 11:23] hramezani commented on #129
This (issue)[https://github.com/slashmili/django-jalali/issues/118] can be related too.

[2021-04-28 10:51] havaliza opened #133 "Missing static files"
The following static files are referenced in some `.js` file but are not included in static files for admin.

[code]

This leads to 500 errors when using WhiteNoise to serve static files.

https://whitenoise.evans.io/en/stable/index.html

* Python version: 3.9
* Django version: 3.0.4
* django_jalali version: 4.1.2
* OS: Linux

[2021-04-28 20:13] hramezani commented on #133
Hi,

Thanks for reporting. Could you please explain it more and mention the `.js` files that have references to those images?
It would be great to include logs as well.

[2021-05-06 21:47] alikomijani opened #134 "how to use jdatepicker in my template?"
hi, I don't know how to use the Jalali date picker in my form on the template, can you help me?

[2021-05-07 06:59] hramezani commented on #134
Hi, Thanks for reporting.
Please  take a look at [this related issue](https://github.com/slashmili/django-jalali/issues/117), specially [this comment](https://github.com/slashmili/django-jalali/issues/117#issuecomment-683290988).

[2021-05-11 22:56] hossein-shahsavan opened #135 "confusing about the time"
what is the meaning of this parts in the jdatetime field?

![Screenshot (183)](https://user-images.githubusercontent.com/65237888/117894575-dc5e2b00-b2d1-11eb-808c-f216ce3fcfcf.png)

[2021-05-12 18:01] hramezani commented on #135
Probably the `891243` is microseconds and `+430` is timezone

[2021-05-14 22:21] #135 closed

[2021-05-19 13:05] realsaeedhassani commented on #118
As @hramezani said I must create a custom django-rest-framework serializer field like this:

[code]

[2021-06-08 19:35] hramezani commented on #118
DRF serializer for `JDateField` added to `django-jalali` https://pypi.org/project/django-jalali/

[2021-06-08 19:36] hramezani commented on #129
DRF serializer for `JDateField` added to `django-jalali` https://pypi.org/project/django-jalali/

[2021-06-12 00:34] Ziraad opened #138 "Invalid default value for 'jalali_date'"
* Python version: 3.8
* Django version: 3.2
* django_jalali version: 4.1.2
* OS: windows

ERROR --> "Invalid default value for 'jalali_date' " while migrate and deploy project in c-panel and mysql datatbase
but it good worked in my project in local

model.py:

  class News(models.Model):

      author = models.ForeignKey(Profile, on_delete=models.CASCADE, verbose_name='نویسنده')
      publish_date

[2021-06-14 07:18] hramezani commented on #138
Hi, Thanks for reporting.
Could you please provide more information? for example, traceback logs?
Are you sure that you are using the same version in c-panel?

[2021-07-13 05:10] MAM-SYS commented on #86
@slashmili
Hello Friends
This seems to be a problem because mysql does not support UTC offset(like above +03:30)
I add some lines and problem seems to be solved
If you think, i can send the changes, take a look at them
****With Respect****

[2021-07-13 06:44] hramezani commented on #86
@MAM-SYS Thanks, That would be great to create a PR based on your change then we can review it.

[2021-07-26 04:56] tavallaie opened #142 "django-jalali returned years in jalali but month and day in gregorian"
I have this query:
[code]
when I filter by month=5, I get:
[code]
but in the case of converting to the Gregorian, I get the result as follows:
[code]
this bug only appears on month and day, not year:
[code]

* Python version: 3.8
* Django version: 3.0.8
* django_jalali version:4.3.0
* OS: ubuntu-20.04

[2021-07-27 12:18] hramezani commented on #142
Thanks for reporting @tavallaie.

Django Jalali just supports `__year` filter. Behind the scene, it [converts `__year` filter to `__gte` and `__lte` filter](https://github.com/slashmili/django-jalali/blob/a62262d2ca0e2004cab857bc60aee2b5ae132a67/django_jalali/db/models.py#L27). Because it stores date and datetime in the gregorian format in the database. So, `filter(date__month=1400)` does not make

[2021-08-23 14:10] Hrmojtahed commented on #18
this problem has not solved yet.i have same problem

[2021-08-24 02:03] slashmili commented on #18
@Hrmojtahed  Please provide step by step to reproduce it. Also provide
* Python version:
* Django version:
* django_jalali version:
* OS:

[2021-08-24 20:19] vahidodin commented on #117
hi , sorry i missed up
i imported widgets and use inside my ModelAdmin
but where should i include these javascrip lines ?

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
{{ form.media }}
{{ form }}

thanks for your help

[2021-08-24 20:41] hramezani commented on #117
Hi,

in your template file.

[2021-08-25 19:34] ghost opened #143 "No module named 'django_jalali.serializers'"
Please provide your configurations and softwares version

* Python version:
* Django version:
* django_jalali version:
* OS:

i installed django_jalali and django_jalali[drf] and my projects works properiy in local but when i deployed it and i got this error No module named 'django_jalali.serializers'

where is problem??

[2021-08-26 15:39] #143 closed, assigned to nobody

[2021-09-17 20:06] Admia1 opened #144 "_lt _lte _mt _mte not supported despite of orginal datetime"
Intel® Core™ i5

Django==3.2.7
Python 3.9.7
django-jalali==4.3.0

Fedora 34

for queries like this
[code]
where section.end and section.start are jDateTimeField there is not support for _mt (more than) and _lt (less than) which are supported for DateTimeField.

these are used to do the filter in database and not on python.

[2021-09-19 10:18] Admia1 commented on #144
I'm trying to get it to work and i found that lt working but mt is broken

[2021-09-19 22:12] hramezani commented on #144
You can use [`__gt`](https://docs.djangoproject.com/en/3.2/ref/models/querysets/#gt) for greater than filter.

[2021-09-20 04:00] #144 closed

[2021-09-20 04:02] slashmili commented on #142
closed due to inactivity

[2021-09-20 04:02] #142 closed

[2021-09-20 04:03] slashmili commented on #138
closed due to inactivity. We will re-open it again if need input is given

[2021-09-20 04:03] #138 closed

[2021-09-20 04:04] #134 closed

[2021-09-20 04:04] slashmili commented on #133
closed due to inactivity. We will re-open it again if need input is given

[2021-09-20 04:04] #133 closed

[2021-09-20 04:04] slashmili commented on #129
closed due to inactivity. We will re-open it again if need input is given

[2021-09-20 04:04] #129 closed

[2021-09-20 04:05] #86 closed

[2021-09-20 04:06] #128 closed

[2021-09-20 04:06] slashmili commented on #79
closed due to inactivity. We will re-open it again if need input is given

[2021-09-20 04:06] #79 closed

[2021-09-20 04:07] #10 closed

[2021-09-20 04:07] #37 closed

[2021-09-20 04:07] slashmili commented on #89
closed due to inactivity. We will re-open it again if need input is given

[2021-09-20 04:07] #89 closed

[2021-09-20 04:08] slashmili commented on #96
I hope that in 2021 the issue is resolved! If anyone has the problem, please report it again.

[2021-09-20 04:08] #96 closed

[2021-09-20 04:08] #81 closed

[2021-09-20 04:08] slashmili commented on #34
closed due to inactivity. We will re-open it again if need input is given

[2021-09-20 04:08] #34 closed

[2021-10-19 14:17] MM25Zamanian opened #152 "How I can get utc data from jdatetime model"
## Is this feature request? Please report it in here: https://github.com/slashmili/django-jalali/discussions/categories/ideas
## Do you have a question on how to use this library? ask you question in here: https://github.com/slashmili/django-jalali/discussions/categories/q-a

## If ONLY AND ONLY you are facing an unexpected behaviour create an issue

Please provide your configurations and software

[2021-10-21 08:44] #152 closed, assigned to nobody

[2021-12-23 04:16] lnxpy opened #160 "Fix the depricated feature in Django v4.x"
As [described here in the Django v4.0 release notes](https://docs.djangoproject.com/en/4.0/releases/4.0/#id2), `django.utils.datetime_safe` module is no longer available. The standard `datetime` module might be the shot, but here is the thing:
[code]
Thanks.

[2021-12-23 12:37] hramezani commented on #160
Thanks @lnxpy for the issue. I will take a look.

[2021-12-24 20:02] hramezani commented on #160
I've created a PR to fix this issue. take a look if you have time.

[2021-12-25 16:21] #160 closed

[2022-01-26 16:15] ahadihadi opened #163 "Add `__date` filter"
hi Milad:
`BarTime.objects.filter(datetime__year=1400)`
works properly, but these don't work:
`BarTime.objects.filter(datetime__month=11)`
`BarTime.objects.filter(datetime__day=6)`
`BarTime.objects.filter(datetime__date="1400-11-06")`

* Python version: 3.7
* Django version:  3.2
* django_jalali version: 4.3.0
* OS: Linux

[2022-01-26 16:36] hramezani commented on #163
Hi, Thanks for reporting the issue.
Could you please update your `django_jalali` to the latest version(v5.0.0) and check if the problem still exists.

[2022-01-26 17:25] ahadihadi commented on #163
it returns empty, while I know it is not empty. for example in my model 'School' on 'created_time':
`School.objects.last().created_time.day`
returns 6, while:
`School.objects.filter(created_time__day=6).count()`
returns zero

[2022-01-26 17:48] hramezani commented on #163
The `__day` and `__month` filters don't work on `django-jalali` because we save date in Gregorian in DB and for example:
`1400-11-06` = `2022-01-26` but `1399-11-06` = `2021-01-25`
and same for `__month`

Regarding `BarTime.objects.filter(datetime__date="1400-11-06")` you can try `BarTime.objects.filter(datetime__date=jdatetime.date(1400, 11,06))`

Please let me know if `__date` filter doesn't wor

[2022-01-26 17:59] ahadihadi commented on #163
unfortunately did not work. in above model:
`School.objects.filter(time__gt=jdatetime.date(1400,11,6)).count()`
works properly and return count correctly, but:
`School.objects.filter(time__date=jdatetime.date(1400,11,6)).count()`
raise error:
`TypeError: expected string or bytes-like object`

[2022-01-26 18:00] ahadihadi commented on #163
I just updated to last version

[2022-01-26 22:09] hramezani commented on #163
Ok, I can confirm that `__date` filter doesn't work.
I will add this to the `django-jalali` later if I have time.
Thanks for your report.

[2022-01-27 06:53] ahadihadi commented on #163
Thank you, I will be thankful if you let me know when it's done

[2022-01-27 07:55] hramezani commented on #163
Let's keep this issue open

[2022-01-30 15:29] hramezani commented on #163
[Django-jalali 5.1.0](https://pypi.org/project/django-jalali/) has been released :tada:
Thanks @ahadihadi for reporting this and @MojixCoder for adding this feature.

[2022-01-30 15:29] #163 closed

[2022-02-07 15:52] xSerioUsx78 opened #169 "The widget working fine but the date is not jalali!"
Hi, i added the widget in admin.py and the styling works good, but the date is not jalali! is this the default or i can fix it ?

[2022-02-07 16:39] xSerioUsx78 commented on #169
First of all, Thank you for the fast response.
I summarized the code so that you would not be bothered when checking.

models.py

    from django_jalali.db import models as jmodels

    class PostManager(jmodels.jManager):
        ...

    class Post(models.Model):
        ...
        timestamp = jmodels.jDateTimeField(
            default=timezone.now, verbose_name=_('تاریخ و زمان انتشار'))

[2022-02-07 16:42] hramezani commented on #169
Thanks for providing more info. I will check it later and will let you know!

[2022-02-07 16:47] xSerioUsx78 commented on #169
Thank you!

[2022-02-08 09:53] slashmili commented on #169
@xSerioUsx78 just a side note: please drop the screenshots into the comment textbox GitHub allows us to share/upload the images safely inside GitHub  platform.

[2022-02-08 10:45] hramezani commented on #169
@xSerioUsx78 I've created a fresh project and the widget works well
![pic](https://user-images.githubusercontent.com/3122442/152971684-e7ffcf88-f3e2-4067-a62b-741e67b776a3.jpeg)
 for me

Which version of Django and djnago-jalali are you using?

[2022-02-08 13:32] xSerioUsx78 commented on #169
@slashmili Sorry for that, i will share via github next time thank you.

@hramezani Django 4.0.2, django-jalali 5.1.0

I found out where the problem came from.

the problem was from **default=timezone.now**

    timestamp = jmodels.jDateTimeField(
            default=timezone.now, verbose_name=_('تاریخ و زمان انتشار'))

I changed it to **default=jdatetime.datetime.now**

    timestamp = jmodels.jD

[2022-02-08 13:43] hramezani commented on #169
Perfect!
Thanks for letting us know!
I close this issue.

[2022-02-08 13:43] #169 closed

[2022-02-08 15:15] xSerioUsx78 commented on #169
Now the widget works but when i tried to add a post, django give me an error and it's weird, when i made the jdatetime field **auto_now_add=True** it works, but when i tried to add datetime manually it give me this error

1400-11-19 18:41:59در محدوده زمانی Asia/Tehran، قابل تفسیر نیست؛ ممکن است نامشخص باشد یا اصلاً وجود نداشته باشد.

Then i changed the timezone to utc in settings.py but steel i go

[2022-02-08 15:45] hramezani commented on #169
I would suggest creating a new issue for this issue because this one is closed.
please also mention more information about the Django and Django-jalali versions and your settings.

[2022-02-08 15:56] xSerioUsx78 opened #170 "I get error when i want to add an object to database via django admin panel"
The widget works fine but when i tried to add a post, django gives me an error and it's weird, when i made the jdatetime field auto_now_add=True it works, but when i tried to add datetime manually it give me this error

1400-11-19 18:41:59در محدوده زمانی Asia/Tehran، قابل تفسیر نیست؛ ممکن است نامشخص باشد یا اصلاً وجود نداشته باشد.

Then i changed the timezone to utc in settings.py but steel i got

[2022-02-08 21:44] hramezani commented on #170
I can confirm the problem. the problem is related to the change of function [from_current_timezone](https://github.com/django/django/blob/7119f40c9881666b6f9b5cf7df09ee1d21cc8344/django/forms/utils.py#L188) in Django 4.0 because it's working on 4.0.

It would be great if you can work on it. otherwise, I will prepare a fix later.

[2022-02-09 15:01] xSerioUsx78 commented on #170
Yes right, it is because django changed the timezone default module, and now they use zoneinfo in django 4.0.

Everyone else that have this issue and they steel want to use django 4.0, they can add **USE_DEPRECATED_PYTZ = True** in settings.py and also install pytz module ( because in django 4.0 it's not installed as default ) and it will work perfectly.

I try to work on it.

[2022-02-13 11:28] xSerioUsx78 commented on #170
Nice, is it fixed now ? should i update the python-jalali module ?

[2022-02-14 17:53] hramezani commented on #170
[jdatetime 4.0.0](https://pypi.org/project/jdatetime/) has been released.
You can update it and the problem will be fixed.
Later I will update `jdatetime` dependency and add some tests for widgets and then will prepare a new release for `django-jalali`

[2022-02-15 16:59] xSerioUsx78 commented on #170
@hramezani Thank you for solving the problem very quickly.

[2022-02-21 11:44] hramezani commented on #170
[django-jalali 6.0.0](https://pypi.org/project/django-jalali/) with the fix for this issue has been released!

[2022-02-21 11:44] #170 closed

[2022-05-20 04:44] vahidnadi1350 opened #173 "how to use it in modelforms ?"
hi
i am wondering how to use django-jalali in modelform

[2022-05-20 07:15] hramezani commented on #173
Hi,

Django Jalali has a date picker widget that is for Django admin. So, currently, it's not possible to use the date picker widget in modelform.
Maybe [this related issue](https://github.com/slashmili/django-jalali/issues/117) would help you, especially [this comment](https://github.com/slashmili/django-jalali/issues/117#issuecomment-683290988).

[2022-05-29 17:31] mirreza1360 opened #175 "تغییر ماه از عدد به حروف فارسی"
با سلام.برای تغییر نوشته ماه به صورت حروفی و کلمه ی ماههای فارسی میشه توضیح بدین...ممنونم

[2022-06-27 17:02] mr-time2028 opened #178 "MyModel.objects.filter(datetime__month=4)"
I try <MyModel.objects.filter(datetime__month=4)> but it's not worked for me!!

* Python version: 3.10.5
* Django version: 4.0.3
* django_jalali version: 6.0.0
* OS: linux

[2022-06-27 19:43] hramezani commented on #178
`__month` filter doesn't work in django jalali. I've explained the reason in my [comment](https://github.com/slashmili/django-jalali/issues/142#issuecomment-887464050).

[2022-07-19 06:49] miladkh7 opened #184 "doesn't any affected to database"
* Python version:3.7.9
* Django version: 4.0.6
* django_jalali version:6.0.0
* OS: ubunto

## exception message
Unknown column '[app_name].[jalali_filed]' in 'field list'"

it doesn't create any  column on database

[2022-07-19 06:55] hramezani commented on #184
Could you please provide more information? when did you get this error message?
Is it possible to add an example code or small project to reproduce the problem?

[2022-07-23 06:07] miladkh7 commented on #184
Problem solved,
it's related to django ORM issue

[2022-08-03 10:18] #184 closed

[2022-08-20 10:08] mshzsh opened #190 "jDateField() can not get jalali date"
I send `1371-12-07` to jDateField but it save `750-09-16`

[2022-08-20 10:37] hramezani commented on #190
Could you please provide more information?
Django and django-jalali version?
Please provide an example code or test to make it easy to understand

[2022-08-20 11:03] mshzsh commented on #190
Django : 4.0.6
django-jalali : 6.0.0
djangorestframework : 3.13.1

[code]

[code]
`curl --location --request PATCH 'http://127.0.0.1:4801/user-details/'  --form 'birthdate="1371-12-07"'`

`Response : {"birthdate": "750-09-16"}`

[2022-08-22 08:03] hramezani commented on #190
Based on the [doc](https://github.com/slashmili/django-jalali#django-rest-framework), You need to define your field in serializer as well. So:

[code]

[2022-08-22 12:25] hramezani commented on #190
@mshzsh if it's fixed your problem. Please close the issue

[2022-08-22 15:46] #190 closed

[2022-09-19 13:21] mshzsh opened #193 "Problem is in 31-day months"
- Python version: 3.10
- Django version: 4.0.6
- django_jalali version: 6.0.0
- OS: Arch Linux x86_64

serilizers.py :

[code]

models.py :
[code]

input data :
`1401-6-31 00:00`

error :
`Enter a valid date/time in YYYY-MM-DD HH:MM[:ss[.uuuuuu]] format.`

But it works correctly with date `1401-6-30 00:00`

[2022-10-11 14:00] thehatami opened #197 "'jformat' is not a registered tag library."
when use in template i get this error:

`'jformat' is not a registered tag library.`

[2022-10-11 14:32] hramezani commented on #197
Have you loaded the tag in your template?

`{% load jformat %}`

[2022-10-11 16:15] thehatami commented on #197
yes. this line inserted in first of template

[2022-10-11 16:36] hramezani commented on #197
Please provide more information about your django and django-jalali version.
Also, please provide the template that you get the error.

[2022-11-23 19:57] hramezani commented on #197
Sorry @thehatami for the delay. Did you fix the problem?

[2022-11-24 10:11] hramezani commented on #193
Thanks @mshzsh for reporting!

I've created https://github.com/slashmili/django-jalali/pull/201 to fix the problem. Please take a look and test it if you have time.

[2022-11-29 10:47] mshzsh commented on #193
Yes, I tested the changes of this commit and the problem was solved, thank you @hramezani .
Due to the problems that have arisen in some of our projects, we are impatiently waiting for the new force update.

[2022-11-29 10:53] #193 closed

[2022-11-29 10:59] slashmili commented on #193
Thanks @hramezani

The changes are pushed https://pypi.org/project/django-jalali/6.0.1/